# Node / Next.js
node_modules
.next
out
build
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
.env
.env.local
.env.*.local
.vscode
instruction
tsconfig.tsbuildinfo

# Foundry
cache
out
broadcast
lib/openzeppelin-contracts
lib/openzeppelin-contracts-upgradeable
lib/redstone-oracles-monorepo
lib/forge-std

# Husky
.husky/_/

# Misc
*.log

# PM2
.pm2/
keeper.log
